<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>


    <header class="main-header">
        <div class="main-top">
          <img src="./images/logo-mercado-liebre.svg" class="img">
          
          
          <div class="login-bar">
              <input type="text" placeholder="Buscar productos, marcas">
              <a href="" class="fas fa-search bordes"></a>
          </div>
          
          <div class="compra"><i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjeta de crédito</i>
  
          </div>
        </div>
    
      <nav class="nav-bar">
  
  
  
          <section class="inicio">
              <a>Ofertas </a>
              &nbsp;
              <a>Tiendas Oficiales </a>
              &nbsp;
              <a>Vender </a>
              &nbsp;  
              <a>Ayuda </a>
          </section>
      
          <section class="fin">
                  <a href="/register">Creá tu cuenta </a><i class="far fa-id-card"></i>
                  &nbsp;
                  <a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i>
                  &nbsp;
                  <a>   Mis compras </a><i class="fas fa-shopping-basket"></i>
                  
          </section>
  
  
  
      </nav>
  
    <a class="burger-menu">
     <i class="fas fa-bars"></i>
    </a>  
  
  
  </header>

<main >
<div class="login">
        <form action="POST" >    
            <center>
                <input type="email" placeholder="E-mail" class="espacio2">
                 <input type="password" placeholder="Escribí una contraseña" class="espacio2">
                 <input type="submit" value="Registrarse" class="espacio2 azul">

            </center>

        </form>
      </div>      
     
</main>

<footer>
<section>
    <i class="fas fa-credit-card icono fa-2x"></i>

<h4 class="titulares">Pagá con tarjeta o en efectivo</h4>
<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</p>

</section>
<section>
    <i class="fas fa-gift icono fa-2x"></i>

    <h4 class="titulares">Envío gratis desde $ 2.500</h4>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    
</section>

<section>
    <i class="fas fa-user-shield icono fa-2x"></i>

        <h4 class="titulares">Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.!</p>     
</section>

<section>
<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</section>

</footer>

</body>
</html>